$autocomplete-text: #336699;
$results-color: #00796b;
$max-width: 345px;

.autocomplete-widget {
  left: 10px;
  margin-right: 10px;
  position: absolute;
  top: 10px;
  z-index: 4;

  &.active {
    label {
      margin: 0;
      width: 0;
      transition: all .3s;
    }

    input {
      width: $max-width;
      transition: all .3s;
    }

    .autocomplete-results {
      opacity: 1;
    }
  }
}

.autocomplete-form {
  width: 100%;

  label {
    display: block;
    height: 0;
    text-indent: -9999px;
    width: 0;

    @media (min-width: 500px) {
      color: black;
      display: inline-block;
      height: auto;
      font-size: 1.1em;
      margin-right: 9px;
      width: 75px;
      text-indent: 0;
      transition: width .3s;
    }
  }

  input {
    border: 2px solid $green;
    color: $autocomplete-text;
    font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial;
    font-size: 1em;
    padding: 5px 10px;
    width: 260px;
    transition: width .3s;
  }
}

.autocomplete-clear {
  background: $green;
  border: 0;
  color: white;
  cursor: pointer;
  font-family: $sans-serif;
  height: 37px;
  margin: 0;
  position: relative;
  top: -3px;

  &:hover {
    background: lighten($green, 5);
  }
}

.autocomplete-results {
  background: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.65098) 0px 1px 5px 0px;
  color: $autocomplete-text;
  list-style: none;
  margin: -3px 0 0 0;
  max-height: 90vh;
  max-width: $max-width;
  opacity: 0;
  overflow-y: scroll;
  padding: 0;
  transition: opacity .2s;

  &:focus {
    opacity: 1;
  }

  li {
    font-size: .9em;
    margin: 2px;
    position: relative;

    &:first-child {
      margin-top: 5px;
    }
  }

  a {
    color: $results-color;
    display: block;
    margin: 0 5px;
    padding: 3px;
    text-decoration: none;

    &:hover {
      color: darken($results-color, 15);
    }
  }
}
