.autocomplete-detail {
  background: white;
  bottom: 0;
  left: 0;
  padding: 60px 2em 1em;
  position: absolute;
  max-width: 40%;
  min-width: 400px;
  top: 0;
  transform: translateX(-100%);
  transition: transform 1s;
  z-index: 2;

  &.active {
    transform: translateX(0);
    transition: transform 1s;
  }
}

.detail-activities {
  list-style: none;
  margin: 1em 0;
  padding: 0;

  li {
    display: inline-block;
    margin-right: 10px;
  }
}

.detail-close {
  position: absolute;
  right: 0;
  width: 50px;
}
