#map {
  height: 100vh;
}

.leaflet-control-roy {
  background: white;
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.65098) 0px 1px 5px 0px;
  height: 25px;
  padding: 2px;
  position: fixed;
  width: 25px;
  z-index: 41;

  &:hover {
    background: darken(white, 5);
    cursor: pointer;
  }
}

.zoom-to-full-extent {
  right: 10px;
  top: 70px;
}

.find-nearest {
  top: 105px;
  right: 10px;
  transition: transform;

  &.loading {
    img {
      animation: rotate 1.5s infinite;
    }
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
