.about-modal {
  background: white;
  bottom: 0;
  left: 0;
  opacity: 0;
  overflow-y: scroll;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 100%;
  z-index: -1;

  &.active {
    opacity: 1;
    z-index: 10000;
  }
}

.modal-close {
  font-size: 1em;
  position: absolute;
  right: 25px;
  top: 25px;
}

.about-content {
  overflow-y: scroll;
  padding: 5%;
}
