.office-list {
  background: white;
  height: 100vh;
  left: 0;
  margin: 0;
  padding: 5em 0 0 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;

  &.active {
    z-index: 2000;
  }
}
