@import 'normalize';
@import 'fonts';
$green: #00796b;
$blue: #164A7C;
$cream: #efeeeb;
$serif: 'Merriweather', Georgia, Verdana, serif;
$sans-serif: 'Open Sans', Helvetica, 'Helvetica Neue', sans-serif;

html {
  box-sizing: border-box;
  color: #333;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial;
  font-size: 1.2em;
  max-height: 100vh;
}

h1,
h2,
h3 {
  font-family: Merriweather, Georgia, Verdana, serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
}

@import './vendor/leaflet';
@import './vendor/markercluster';
@import './vendor/tooltip';
@import 'map';
@import 'office-list';
@import 'autocomplete';
@import 'detail';
@import 'modal';
@import 'landing-screen';
@import 'layer-switcher';
