div.about-content
  h2 About this map

  h3 Privacy
  p The 'Find nearest offices' tool will request access to your current location.  If you grant access the coordinates of your current location will be used to find the 10 closest USFWS offices in the Southeast Region.  This location data is only used on the client (in your web browser) and is never transimitted back to the Service, or stored in any way.

  h3 Map Layers
  p Ocean and Imagery basemap tiles courtesy of #[a(href="http://doc.arcgis.com/en/living-atlas/#s=0&subCat=1&type=All&area=All&md=basemap:1000") ESRI].

  h3 Thank You Creative Commons
  p Much of the iconography used in this map was taken from Creative Commons contributions to the noun project.
  ul
    li Info by Jürgen Bauer from the Noun Project
    li buildings by Creative Stall from the Noun Project
    li Location by Bonnie Duffley from the Noun Project
    li Crosshair by Jos&#233; Manuel de La&#225; from the Noun Project

  h3 Source Code
  p The code used to create this map is in the public domain.  You can download a copy on #[a(href="http://github.com/usfws/southeast-mega-map") GitHub].
