div.about-content
  h2 About this map

  h3 Thank You Creative Commons
  p Much of the iconography used in this map was taken from Creative Commons contributions to the noun project.
  ul
    li Info by Jürgen Bauer from the Noun Project
    li buildings by Creative Stall from the Noun Project
    li Location by Bonnie Duffley from the Noun Project
    li Crosshair by Jos&#233; Manuel de La&#225;

  h3 Source Code
  p The code used to create this map is in the public domain.  You can download a copy on #[a(href="http://github.com/usfws/southeast-mega-map") GitHub].
