h1.map-title Southeast Region #[br] Office Map
img(src="./svg/logo.svg" alt="Official logo of the U.S. Fish and Wildlife Service" class="logo")

.detail-content-wrap
  p Use the map to find a U.S. Fish and Wildlife Service field office, National Wildlife Refuge, or a National Fish Hatchery near you.  For more information about a specific office click an office marker on the map.

  h3 Map Icons
  ul.icon-list
    li #[img(src="./images/layers-2x.png" alt="Image representing layers in 3-D" class="icon")] Toggle layers on/off
    li #[img(src="./svg/full-extent.svg" alt="Icon with arrows pointing outwards" class="icon")] Zoom out to show all offices
    li #[img(src="./svg/current-location.svg" alt="Icon representing your current location" class="icon")] Find the nearest offices
    li #[img(src="./svg/help.svg" alt="Icon representing 'help'" class="icon")] Learn more about the map

  h3 Office Types
  ul.icon-list
    li #[img(src="./svg/blue-goose.svg" alt="Official logo of the National Wildlife Refuge System" class="marker")] National Wildlife Refuge
    li #[img(src="./svg/fisheries.svg" alt="Official logo of the Fisheries program" class="marker")] National Fish Hatchery
    li #[img(src="./svg/building.svg" alt="Icon representing a field office" class="marker")] Field Station
