h2
  = office.name
div.detail-content-wrap
  p
    a(href=office.url) Visit us online!
  p.detail-description
    = office.narrative
  h3 Activities
  ul.detail-activities
    if office.activities
      each activity in office.activities
        li
          = activity
  address
    = office.address
    br
    &nbsp;#{office.city}, #{office.state} #{office.zip}
